{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Timeline{% endblock %}</h1>
{% if g.user %}
<a class="action" href="">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for feed_view in feed %}
<article class="post">
    <header>
        <div>
            <h1>{{ feed_view.post.author.display_name }}</h1>
        </div>
        {% if g.user %}
        <a class="action" href="">Reply</a>
        {% endif %}
    </header>
    <p class="body">{{ feed_view.post.record.text }}</p>
</article>
<hr>
{% endfor%}
<footer>
    <a href="?cursor=''">Home</a>
    {% if cursor %}
    <a href="?cursor={{ cursor }}">Next</a>
    {% endif%}
</footer>
{% endblock %}